.image-section {
  height: 100%;
  position: relative;
}

.image-content-list-item {
  background-image: url("../../assets/one-leaf.jpg");
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  background-repeat: none;
  transition: background-attachment 0.3s ease-in-out, height 0.3s ease-in-out;
}

.image-content-list {
  background-color: rgba(0, 0, 0, 1);
  height: 80%;
}

.image-content-list-item.fixed {
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.image-content {
  display: grid;
  grid-template-rows: 0.25fr 0.5fr 0.5fr;
  height: 100%;
}

.image-content-main-title {
  grid-row-start: 1;
  font-family: var(--font-primary);
  font-size: 2.5rem;
  grid-column-start: 1;
  column-span: all;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-neutral2);
  margin-top: -1px;
  padding: 2rem;
  width: 100%;
}

.image-content-title {
  grid-row-start: 2;
  font-family: var(--font-primary);
  font-size: 2.2rem;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-neutral2);
  padding: 2rem;
}

.image-content-description {
  grid-row-start: 3;
  align-items: start;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--font-playfair);
  color: var(--color-neutral2);
  text-align: justify;
  padding: 2rem;
}

.video_triangle_1 {
  background-color: var(--color-neutral2);
  height: 100px;
  width: 100%;
  position: absolute;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  margin-top: -1px;
  z-index: 1;
}

.video_triangle_2 {
  background-color: var(--color-neutral2);
  height: 100px;
  width: 100%;
  position: absolute;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  bottom: 0;
  margin-bottom: -1px;
}

@media screen and (min-width: 768px) {
  .image-content-main-title {
    font-size: 3rem;
    grid-column: span 2;
  }

  .image-content-title {
    font-size: 3rem;
  }

  .image-content-description {
    /* grid-row-start: 2; */
    /* grid-column-start: 2; */
    font-size: 1.5rem;
  }

  .image-content {
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 1fr; */
  }
}

@media screen and (min-width: 1152px) {
  .image-content-main-title {
    font-size: 3rem;
    grid-column-start: 2;
    grid-column: span 2;
    column-span: all;
  }

  .image-content-title {
    font-size: 3.2rem;
  }

  .image-content-description {
    align-self: center;
    grid-row-start: 2;
    grid-column-start: 2;
    font-size: 1.5rem;
    padding: 4rem;
  }

  .image-content {
    grid-template-columns: 0.5fr 1fr;
  }
}
