.feature_card {
  display: grid;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.card-icon {
  display: flex;
  justify-content: center;
  height: fit-content;
  align-items: center;
  font-size: 4.5rem;
  padding: 2rem;
  color: var(--color-neutral3);
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.card-title {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-weight: 700;
  font-weight: bold;
  color: var(--color-neutral3);
}

.card-reason {
  font-size: 1.2rem;
  font-family: var(--font-playfair);
  color: var(--color-text);
  margin-bottom: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-features {
  list-style: none;
  padding: 0;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: var(--font-playfair);
}

.feature {
  font-size: 1.2rem;
  margin: 5px 0;
  padding-left: 1rem;
}

.included {
  color: green;
}

.not-included {
  color: var(--color-text);
}

.card-button:hover {
  background: darkblue;
}

/* Special styling for the main card */
.main-card {
  transform: scale(1.1);
}

.main-card .card-title,
.main-card .card-reason,
.main-card .card-price {
}

.puzzle_icon {
  height: 72px;
}

.about_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.about_slider_image_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_slider_image {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (min-width: 384px) {
  .feature_card {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main-card {
    transform: scale(1);
  }
}

@media screen and (min-width: 512px) {
  .feature_card {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .feature_card {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-title {
    font-size: 1.8rem;
  }

  .card-reason {
    font-size: 1.3rem;
  }

  .feature {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1152px) {
  .feature_card {
    grid-template-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
