.differentMethods {
  padding: 2rem;
  background-color: var(--color-bg);
}

.differentMethods_header {
  font: 700 2.5rem var(--font-primary);
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
  color: var(--color-neutral3);
}

@media (min-width: 1152px) {
  .differentMethods {
    padding: 2.5rem 4rem;
  }

  .differentMethods_header {
    font-size: 3rem;
  }
}
