* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Mr+Dafoe&family=Playfair+Display:wght@400;700&display=swap");

/* Define color variables */
:root {
  --color-bg: #eaece9;
  --color-primary: #7e8eb0;
  --color-secondary: #72c7eb;
  --color-accent1: #ff715b;
  --color-accent2: #f4c762;
  --color-neutral1: #2c3e50;
  --color-neutral2: #f7f8f9;
  --color-neutral3: #2c3e50;

  --color-snow-white: #ffffff;
  --color-logo: #eaece9;
  --color-text: #462534;
  --color-icy-blue: #72c7eb;
  --color-powder-blue: #4d9abf;
  --color-mountain-grey: #b0b8c1;
  --color-ski-jacket-red: #d72638;
  --color-pine-green: #2e8b57;
  --color-sunset-orange: #ff8303;
  --color-golden-glow: #c9913d;

  --font-primary: "Montserrat", sans-serif; /* For headings */
  --font-secondary: "Roboto", sans-serif; /* For body text */
  --font-tertiary: "Open Sans", sans-serif; /* Alternative body text */
  --font-decorative: "Mr Dafoe", cursive; /* Decorative font for accents */
  --font-playfair: "Playfair Display", serif; /* Playfair Display font */
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-forward {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20%);
  }
}

/* Create some animations like slide in, fade in, spin and parallax */
@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes parallax {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Add more animations types dont add one that is already present*/
