* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/montserrat-v29-latin-regular.woff2") format("woff2");
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/public/fonts/montserrat-v29-latin-700.woff2") format("woff2");
}

:root {
  --color-bg: #eaece9;
  --color-primary: #7e8eb0;
  --color-secondary: #72c7eb;
  --color-accent1: #ff715b;
  --color-accent2: #f4c762;
  --color-neutral1: #2c3e50;
  --color-neutral2: #f7f8f9;
  --color-neutral3: #2c3e50;

  --color-snow-white: #ffffff;
  --color-logo: #eaece9;
  --color-text: #462534;
  --color-icy-blue: #72c7eb;
  --color-powder-blue: #4d9abf;
  --color-mountain-grey: #b0b8c1;
  --color-ski-jacket-red: #d72638;
  --color-pine-green: #2e8b57;
  --color-sunset-orange: #ff8303;
  --color-golden-glow: #c9913d;

  --font-primary: "Montserrat", "Segoe UI", Tahoma, sans-serif;
  --font-secondary: Tahoma, "Segoe UI", sans-serif;
  --font-tertiary: Verdana, Geneva, sans-serif;
  --font-decorative: Georgia, "Times New Roman", serif;
  --font-playfair: "Playfair Display", Georgia, serif;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
