.footer {
  background-color: var(--color-neutral3);
  color: var(--color-snow-white);
  padding: 2rem 0;
  text-align: center;
}

.footer_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.footer_section {
  flex: 1;
  margin: 0 1rem;
}

.footer_title {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer_section p,
.footer_section ul {
  font-family: var(--font-secondary);
  font-size: 1rem;
  line-height: 1.6;
}

.footer_section ul {
  list-style: none;
  padding: 0;
}

.footer_section ul li {
  margin-bottom: 0.5rem;
}

.footer_section ul li a {
  color: var(--color-snow-white);
  text-decoration: none;
  transition: color 0.3s;
}

.footer_section ul li a:hover {
  color: var(--color-accent2);
}

.social_links a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.social_links a:hover {
  color: var(--color-accent2);
}

.facebook_icon {
  height: 24px;
  filter: brightness(0) invert(0.7);
}

.x_icon {
  height: 24px;
  filter: brightness(0) invert(0.7);
}

.instagram_icon {
  height: 24px;
  filter: brightness(0) invert(0.7);
}

.linkedin_icon {
  height: 24px;
  filter: brightness(0) invert(0.7);
}

.footer_bottom {
  margin-top: 2rem;
  font-family: var(--font-secondary);
  font-size: 0.875rem;
}

@media (min-width: 1024px) {
  .footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;
  }
}
