.footer {
  background-color: var(--color-neutral3);
  color: var(--color-snow-white);
  padding: 2rem 0;
  text-align: center;
}

.footer_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.footer_section {
  flex: 1;
  margin: 0 1rem;
}

.footer_title {
  font: 1.5rem var(--font-primary);
  margin-bottom: 1rem;
}

.footer_section p,
.footer_section ul {
  font: 1rem var(--font-secondary);
  line-height: 1.6;
}

.footer_section ul {
  list-style: none;
  padding: 0;
}

.footer_section ul li {
  margin-bottom: 0.5rem;
}

.footer_section ul li a {
  color: var(--color-snow-white);
  text-decoration: none;
  transition: color 0.3s;
}

.footer_section ul li a:hover {
  color: var(--color-accent2);
}

.social_links a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.social_links a:hover {
  color: var(--color-accent2);
}

.facebook_icon,
.x_icon,
.instagram_icon,
.linkedin_icon {
  height: 24px;
}

.facebook_icon {
  color: #1877f2;
}

.x_icon {
  color: #c3d3dd;
}

.instagram_icon {
  color: #e4405f;
}

.linkedin_icon {
  color: #0077b5;
}

.footer_bottom {
  margin-top: 2rem;
  font: 0.875rem var(--font-secondary);
}

@media (min-width: 1024px) {
  .footer_content {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
