.logo {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0.5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  font-size: large;
  letter-spacing: 0.2em;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
  font-family: var(--font-secondary);
  background: transparent;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-neutral2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}

.navbar .nav_link_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1rem;
  font-weight: 700;
  color: var(--color-neutral1);
  text-decoration: none;
}

.navbar .nav_link_item:hover {
  color: var(--color-pine-green);
}

@media screen and (min-width: 384px) {
  .logo {
    width: 40px;
    height: 40px;
  }
}
